*{
    margin: 0px;
}
html,body{
    --black:#202024;
    --grey:#E1E1E6; 
    height: 100%;
}
body{
    display: grid;
    place-items: center;
    font-family: 'Roboto',sans-serif;
    color: #E1E1E6;
    
}
#gradieImg{
    background: url(./assets/Desktop.png) no-repeat center/cover;
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}
main{
    background: url(./assets/Mobile.png) no-repeat center/cover ;
    width: 100vw;
    min-height: 812px ;
    height: 100vh;
}
.container{
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    
}
#faixa{
    width: 80px;
    height: 164px;
    background: url(./assets/faixa.png) no-repeat ;
    position: absolute;
    top: 0;
    z-index: 2;
    display: none;
    
}
.avatar{
    width: 10rem;
    margin: 11.5rem auto 0;
    position: relative;
}
.avatar span{
    position: absolute;
    top: -15px;
    z-index: 1;
}
.avatar > img{
    width: 10rem;
    height: 11.5rem;
    object-fit: cover;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}
h1{
    font-size: 1.5rem;
    margin-top: 1.5rem;
}
a{
    color: var(--grey);
    text-decoration: none;
    margin-top: 0.25rem;
    display: flex;
    gap:0.75rem;
    justify-content: center;
    align-items: center;

}
p{
    margin-top: 2rem;
}
ul{
    margin-top: 4rem;
    list-style: none;
    padding: 0;
    display: flex;
    gap:0.5rem;
    justify-content: center;
}

@media only screen and (min-width:500px){
    body{
        background-color: black;

    }
    #gradieImg{
        display: block;
    }
    #faixa{
        display: block;
    }
    main{
        width: 358px;
        height: 540px;
        min-height: 540px;
        z-index: 1;
        
    }
    
    .avatar{
        width: 10rem;
        margin: 4.5rem auto 0;
        position: relative;
    }
    
}
@media only screen and (max-height:685px){
    main{
        margin-top: 145px;
    }
}
 @media only screen and (min-height:685px){
    main{
        margin-top: 138px;
        margin-bottom: 440px;
    }
}  
@media only screen and (max-width:500px){
    main{
        margin-top: 0px;
    }
}

 